<%- include("header"); -%>
<div class="container-1">
<h1> Home </h1> 
   <p> <%= Home %> </p>  
  <% for(var i=0;i<post1.length;i++){ %>
    <h1> <%= post1[i].Title %> </h1>
    <p>  <%= post1[i].Content.slice(0,450)+" ...."  %> <a href="/posts/<%= post1[i].Title %>">Read More</a></p>
    
  <% } %>

  <button style="border-radius: 50px; height: 50px; border-color: white;width: 100px;padding-top: 10px; margin-top: 25px;  type="submit"  class="btn btn-danger"> <a   href="/compose"  style="color:white ;  " class="a1">Compose</a> </button>

 
</div>
<%- include("footer"); -%>


